# 00. Table of Contents

01. Notebook Setup

- Import libraries
- Import dataset as dataframe

02. Data Exploration and Profiling

- Data Quality and Consistency Checks
- Descriptive Analysis
- Observations from Exploration

03. Data Cleaning

- Unnecessary columns/variables
- Missing data
- Duplicates
- Inaccurate/inconsistent data
- Mixed-type columns
- Outliers
- Unclear column headers
- Data Profiling Re-checks

04. Data Transformation

- New columns / calculations
- Joining or merging tables
- Data Profiling Re-checks

05. Export Dataframe

# 01. Notebook Setup

## 01.1 Import libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

## 01.2 Import dataset as dataframe

In [2]:
# Create quick path to project folder

projpath = r'/Users/laineyodette/Documents/_proDocs/professional development/Learning/Learning - Data Analytics/CareerFoundry - Become a Data Analyst/Data Immersion Course/A6 - Advanced Analytics and Dashboard Design/Book Project'

In [3]:
# Import RATINGS dataset as dataframe

df_Ratings = pd.read_csv(os.path.join(projpath, '02 Data', 'Dataset ORIGINAL', 'Ratings.csv'), index_col = False)

# 02. Data Exploration and Profiling

## Data Quality and Consistency Checks

In [4]:
# Check dimensions of df

df_Ratings.shape

(1149780, 3)

In [5]:
# Check output - view current column headers and preview

df_Ratings.head(25)

    User-ID        ISBN  Book-Rating
0    276725  034545104X            0
1    276726  0155061224            5
2    276727  0446520802            0
3    276729  052165615X            3
4    276729  0521795028            6
5    276733  2080674722            0
6    276736  3257224281            8
7    276737  0600570967            6
8    276744  038550120X            7
9    276745   342310538           10
10   276746  0425115801            0
11   276746  0449006522            0
12   276746  0553561618            0
13   276746  055356451X            0
14   276746  0786013990            0
15   276746  0786014512            0
16   276747  0060517794            9
17   276747  0451192001            0
18   276747  0609801279            0
19   276747  0671537458            9
20   276747  0679776818            8
21   276747  0943066433            7
22   276747  1570231028            0
23   276747  1885408226            7
24   276748  0747558167            6

In [6]:
# Check output - view current column headers and preview

df_Ratings.tail(25)

         User-ID         ISBN  Book-Rating
1149755   276690   0590464116            0
1149756   276690   0590581066            0
1149757   276690   0590907301            0
1149758   276697   8445072897            0
1149759   276704   0152022597            0
1149760   276704   0312873115            0
1149761   276704   0345386108            6
1149762   276704   0380796155            5
1149763   276704   0395404258            0
1149764   276704   0425060772            0
1149765   276704   0440206529            0
1149766   276704   0441007813            0
1149767   276704   0446353957            0
1149768   276704   0446605409            0
1149769   276704   059032120X            0
1149770   276704   0679752714            0
1149771   276704   0743211383            7
1149772   276704   080410526X            0
1149773   276704   0806917695            5
1149774   276704   0876044011            0
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

In [7]:
# Check data types for each column and non-null values

df_Ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [8]:
# Check for mixed data types

for col in df_Ratings.columns.tolist():
  weird = (df_Ratings[[col]].map(type) != df_Ratings[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_Ratings[weird]) > 0:
    print (col)

In [9]:
# Find missing values by summing the number of null values in each column

df_Ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [10]:
# Find any duplicate values in df through a subset

df_dups = df_Ratings[df_Ratings.duplicated()]
df_dups

Empty DataFrame
Columns: [User-ID, ISBN, Book-Rating]
Index: []

## Descriptive Analysis

In [11]:
# Check output stats

df_Ratings.describe()

            User-ID   Book-Rating
count  1.149780e+06  1.149780e+06
mean   1.403864e+05  2.866950e+00
std    8.056228e+04  3.854184e+00
min    2.000000e+00  0.000000e+00
25%    7.034500e+04  0.000000e+00
50%    1.410100e+05  0.000000e+00
75%    2.110280e+05  7.000000e+00
max    2.788540e+05  1.000000e+01

## Observations from Exploration and Analysis

These are my observations:

- Unnecessary columns/variables - N/A
- Missing data - many "0" ratings which represent no rating given - need to remove
- Duplicates - N/A
- Inaccurate/inconsistent data - the ISBN is not a complete ISBN but as long as they are in the same format as in the BOOKS table, this should be okay as it's only being used as an identifier.
- Mixed-type columns - N/A
- Outliers - N/A
- Unclear column headers - N/A

# 03. Data Cleaning

In [12]:
# Count the number of lines where "Book-Rating" is equal to 0

count_zero_ratings = df_Ratings[df_Ratings["Book-Rating"] == 0].shape[0]

print(count_zero_ratings)

716109

**Observation and Decision** 

While this is a large chunk of the data (62%) - the entire premise of this analysis is around ratings. So keeping the lines where there is no rating does not help the analysis at all or tell a story about ratings.

Will proceed with removing these lines from the data.

In [16]:
# Remove all rows where "Book-Rating" is equal to 0
df_Ratings = df_Ratings[df_Ratings["Book-Rating"] != 0]

# Recount the number of lines where "Book-Rating" is equal to 0
count_zero_ratings = df_Ratings[df_Ratings["Book-Rating"] == 0].shape[0]

print(count_zero_ratings)

0

**Confirmed** All rows where the Book-Rating is 0 have been removed.

In [15]:
# Recheck dimensions of df

df_Ratings.shape

(433671, 3)

# 04. Data Transformation

- New columns / calculations - none to be made at this point
- Joining or merging tables - not at this point
- Data Profiling Re-checks - N/A

TL;DR: No action needed.

# 05. Export Dataframes

In [17]:
#Export df to Dataset folder - no changes, but this will symbolist that the original data has been prepared for analysis

df_Ratings.to_csv(os.path.join(projpath, '02 Data','Dataset', 'Ratings-PREPPED.csv'))